<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 el__header">
        <h5 class="el__header--small">ORDER</h5>
        <h1 class="el__header--large">CHECK  BILL</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 el__check__content">
        <div class="col-xs-12 col-sm-12 col-md-12 el__check__calculate">
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-10 col-sm-8 col-md-6 el__content__desc--en">Table No. : {{table}}</h4>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-10 col-sm-8 col-md-6 el__content__desc--en">Peopple : {{peopleNo}}</h4>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-10 col-sm-8 col-md-6 el__content__desc--en">Buffet type : {{buffet_type.name}}  {{buffet_type.price}}</h4>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-10 col-sm-8 col-md-6 el__content__desc--en">VAT : {{vat}}</h4>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 el__check__total">
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-6 col-sm-6 col-md-4 el__content__desc--en el__check__total--totaltxt">Total :</h4> 
                <h1 class="col-xs-4 col-sm-2 col-md-2 el__content__desc--en ">{{total}}</h1>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <h4 class="col-xs-6 col-sm-6 col-md-4 el__content__desc--en">Each Person : </h4>
                <h4 class="col-xs-4 col-sm-2 col-md-2 el__content__desc--en ">{{each}}</h4>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>
        </div>
    </div>
</div>